<footer>
  	<p>© Glass Faucet <%= Time.now.year %></p>

	<p> +1 (314) 517-4555</p>
	<p><a href="mailto:CustomerSupport@glassfaucet.com?Subject=Inquiry" target="_top">CustomerSupport@glassfaucet.com</a></p>
</footer>
  <script src="/assets/main.js"></script>
</body>
</html>